# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
env/
venv/
ENV/
.venv/
.VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code config files
.vscode/

# MacOS
.DS_Store

# PyTest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache

# MyPy and other type checkers
.mypy_cache/
.dmypy.json
.pyre/
